.navbar {
    background-color: rgb(90, 112, 40);
}

.quem-somos {
    background-color: rgb(36, 133, 243);
}

.parceiros {
    background-color: rgb(218, 184, 75);
}

.servicos {
    background-color: rgb(105, 28, 44);
}